$charcoal: #222;
$smoke: #ccc;
$bgColor: #D0E3C4;
$accentColor: #C05746;
$hisColor: #6E8898;
$herColor: #F1BF98;

// universals
* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	font-size: 0;
}

body {
	margin: 0;
	background: $bgColor;
	z-index: -1
}

img {
	max-width: 100%;
}

// font-size ratios
html {
	font-size: 14px;
	touch-action: manipulation;
	@media (max-width: 900px) {
		font-size: 12px;
	}
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

p,a,span,input,h4,h5,h6,button {
	font-size: 1rem;
}

header {
	text-align: right;
	margin: 2rem 0;
}


.container {
	width: 80%;
	margin: auto;

	@media (min-width: 900px) {
		width: 40%;
	}
}

button {
	outline: none;
	border: .1px solid #222;
	border-radius: 7%;
	background: #eee;
	cursor: pointer;
	padding: .25rem .5srem;
}

.not-there {
	display: none !important;
}

.his {
	background: $hisColor;
}

.hers {
	background: $herColor;
}
// modals

.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    text-align: center;
    padding-top: 25vh;
    z-index: 1
}

.modal {
	width: 400px;
	margin: 0 auto;
	background: white;
	border: 5px solid #222;
	position: relative;
	padding: 2rem;

	@media (max-width: 900px) {
		width: 220px;
	}

	button {
		margin: 0 1rem;
	}
}

// buttons

.close-button {
	position: absolute;
	top: 3px;
	right: 3px;
}

.add-button-container {
	text-align: center;
	padding: 1rem;
}

.add-list-button-container {
	border-top: 1px solid $accentColor;
}

.add-list-button {
	background: darken($bgColor,35);
	color: white;
}

.delete-button {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
}

.delete-list-button {
	background: lighten($accentColor,40);
}

//loader
.loader {
	width: 100%;
	text-align: center;
}

// lists
.lists-container {
	border: 1px solid $accentColor;
	border-top: none;

	.list {
		border-top: 1px solid $accentColor;
		&:first-child {
			// border-top: none;
		}

		&.drop-zone {
			background: lighten($bgColor,5);
		}

		&.drop-zone * {
			visibility: hidden;
		}

		.list-header {
			h2,button {
				cursor: pointer;
				display: inline-block;
				font-weight: normal;
			}
			position: relative;
			padding: 1rem;
		}

		.list-items-container {
			border-top: .5px solid $smoke;
			transition: .5s ease max-height, .5s ease border-top-width;
			overflow: hidden;
			text-align: left;
		}

		.list-item {
			padding: 1rem 2rem;
			text-align: left;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;

			h3 {
				margin: 0;
				font-weight: normal;
			}

			p {
				margin: 5px 0;
				font-weight: normal;
			}

			.flex-wrapper-item-name {
				flex: 2;
			}

			.flex-wrapper-claim-button {
				text-align: center;
				flex: 1;
			}

			.flex-wrapper-delete-button {
				flex: 1;
			}

			.claim-button {
				width: 5.5rem;
			}
		}
	}
}
